html, body {
    background: #fff;
    color: #222;
    font-family: '-apple-system', Helvetica Neue, Helvetica, 'Microsoft YaHei',STHeiTi, sans-serif;
    width: 100%;
    font-weight: lighter;
    height: 100%;
    overflow: hidden;
}
.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    vertical-align: middle;
    text-align: center;
    background: #fff;
}
.loading img {
    width: 3.14rem;
    position: relative;
    top: 50%;
    animation: twinkle 1.5s infinite;
    -webkit-animation: twinkle 1.5s infinite;
}
.scroll {
    /*height: 100%;
    overflow-y: scroll;
    z-index: 1;*/
}
.inner-container {
    padding-top: 2.55rem;
    width: 100%;
    background: url('../imgs/background_n.png') no-repeat center top;
    background-size: 100%;
    position: relative;
}
.scroll .drop {
    position: relative;
    /*z-index: 99;*/
}
.drop-animation {
    position: absolute;
    top: 7rem;
    opacity: 0;
    /*z-index: 99;*/
}
.drop1 {
    left: .4rem;
}
.drop1.js-animate {
    display: block;
    animation: drop 8s;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.drop2 {
    left: 1.6rem;
}
.drop2.js-animate {
    animation: drop 8s infinite;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
.drop3 {
    left: 2.9rem;

}
.drop3.js-animate {
    animation: drop 8s;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.drop4 {
    left: 3.3rem;
}
.drop4.js-animate {
    animation: drop 8s;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.drop5 {
    left: 4.5rem;
}
.drop5.js-animate {
    animation: drop 8s;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
.drop6 {
    right: .5rem;
}
.drop6.js-animate {
    animation: drop 8s;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.drop7 {
    right: 1rem;
}
.drop7.js-animate {
    animation: drop 8s;
    -webkit-animation: drop 8s;
    -o-animation: drop 8s;
    -moz-animation: drop 8s;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.drop8 {
    left: 0rem;
}
.drop8.js-animate {
    animation: drop 7s;
    -webkit-animation: drop 7s;
    -o-animation: drop 7s;
    -moz-animation: drop 7s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.drop9 {
    right: 0rem;
}
.drop9.js-animate {
    animation: drop 6s;
    -webkit-animation: drop 6s;
    -o-animation: drop 6s;
    -moz-animation: drop 6s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.drop img {
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}
.drop .img1 {
    width: 2rem;
    /*animation: drop 4s infinite;
    -webkit-animation: drop 4s infinite;
    -o-animation: drop 4s infinite;
    -moz-animation: drop 4s infinite;*/
}
.drop .img2 {
    width: 1.6rem;
}
.drop .img3 {
    width: 1.2rem;
}
.drop .img4 {
    width: 1.3rem;
}
.drop .img5 {
    width: 1.6rem;
}
.drop .img6 {
    width: 1.4rem;
}
.inner-container .banner {
    margin-bottom: 2.6rem;
}
.inner-container .banner .icon {
    width: .52rem;
    height: .28rem;
    display: block;
    margin: .95rem auto .46rem auto;
}
.inner-container .banner .icon-arrow {
    background: url('../imgs/arrow_bottom.png') no-repeat 0 0;
    background-size: 100%;
    width: .52rem;
    height: .28rem;
    margin: 0;
    display: block;
    animation: twinkle 1s infinite;
    -webkit-animation: twinkle 1s infinite;
}
.inner-container .banner h1 img {
    width: 3.14rem;
    display: block;
    margin: 0 auto;
}
.inner-container .banner .ring {
    position: relative;
    width: 4.5rem;
    margin: 0 auto;
}
.inner-container .banner .ring .origin {
    display: block;
    width: 4rem;
    margin: 0 auto;
}
.inner-container .banner .ring .center {
    width: 1.64rem;
    position: absolute;
    left: 1.45rem;
    top: 1rem;
    z-index: 1;
}
.inner-container .banner .ring .js-rotate {
    width: 2.65rem;
    position: absolute;
    left: .9rem;
    top: .5rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.inner-container .banner .ring-animate .js-rotate {
    animation: rotate 1.5s;
    -webkit-animation: rotate 1.5s;
    -o-animation: rotate 1.5s;
    -moz-animation: rotate 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
.inner-container .banner img {
    width: 4.5rem;
    display: block;
}
.inner-container .banner .rotate {
    position: absolute;
    width: 3.36rem;
    left: .9rem;
    top: .97rem;
    display: none;
}
.inner-container .banner .rotate.js-animate {
    /*animation: rotate 1s;
    -webkit-animation: rotate 1s;
    -o-animation: rotate 1s;
    -moz-animation: rotate 1s;*/
    display: block;
}
.thumb-block .text-block {
    margin-bottom: 7.1rem;
    text-align: center;
}
.thumb-block .pic-block {
    margin-bottom: 6rem;
    text-align: center;
}
.thumb-block p.title {
    font-size: .5rem;
    line-height: .5rem;
    margin-bottom: .3rem;
    font-weight: 400;
}
.thumb-block p.info {
    line-height: .4rem;
    font-size: .25rem;
    margin-top: .12rem;
    margin-bottom: .35rem;
}
.thumb-block .text-block {
    max-width: 4rem;
    min-width: 1.98rem;
    margin-left: auto;
    margin-right: auto;
}
.thumb-block .text-block a {
    display: inline-block;
    font-size: .25rem;
    color: #e99289;
    width: 1.28rem;
    height: .58rem;
    line-height: .58rem;
    border: 1px solid #e99289;
    border-radius: 3px;
}
.thumb-block a.btn {
    width: 1.84rem;
}
.thumb-icon {
    display: block;
    margin: 0 auto;
    width: .38rem;
}
.thumb-img {
    width: 1.5rem;
    margin-bottom: .3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.thumb-block.block1 .text-block{
    margin-bottom: 7.3rem;
}
.thumb-block.block3 .text-block{
    margin-bottom: 6.6rem;
}
.thumb-block.block4 .text-block{
    margin-bottom: 5.7rem;
}
.thumb-block.block1 .pic-block{
    margin-bottom: 5.9rem;
}
.thumb-block.block2 .pic-block{
    margin-bottom: 4.8rem;
}
.thumb-block.block3 .pic-block{
    margin-bottom: 4.6rem;
}
.thumb-block.block4 .pic-block{
    margin-bottom: 4.9rem;
}
.thumb-block.block5 .pic-block{
    margin-bottom: 5.8rem;
}
.thumb-block.block6 .pic-block{
    margin-bottom: 4.9rem;
}
.thumb-block.block7 .pic-block{
    margin-bottom: 4rem;
}
.thumb-block.block8 .pic-block{
    margin-bottom: 1.6rem;
}

.thumb-block.block5 .text-block{
    margin-bottom: 7.1rem;
}
.thumb-block.block6 .text-block{
    margin-bottom: 6rem;
}
.thumb-block.block7 .text-block{
    margin-bottom: 5rem;
}
.thumb-block.block8 .text-block{
    margin-bottom: 2.2rem;
}
.thumb-block.block9 .text-block{
    margin-bottom: 0rem;
    padding-bottom: 4.23rem;

}
.thumb-block .pic-block {
    display: none;

}
.thumb-block .pic-block .slide-wrapper {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
}
.thumb-block .pic-block .left img, .thumb-block .pic-block .right img {
    width: .23rem;
}
.thumb-block .pic-block .left{
    left: 0;
    position: absolute;
    padding: 100px .3rem;
    display: none;
}
.thumb-block .pic-block .right {
    right: 0;
    position: absolute;
    padding: 100px .3rem;
}
.thumb-block .pic-block .pic-wrapper {
    width: 100000px;
    overflow: hidden;
}
.thumb-block .pic-block .pic-wrapper .shining {
    position: absolute;
    display: block;
    width: 1rem;
    opacity: 0;
    animation: twinkle 1.5s infinite;
    -webkit-animation: twinkle 1.5s infinite;
}
.thumb-block .pic-block .pic-wrapper .s1 {
    left: .7rem;
}
.thumb-block .pic-block .pic-wrapper .s2 {
    left: .3rem;
    top: 40px;
}
.thumb-block .pic-block .pic-wrapper .s3 {
    left: 1.7rem;
}
.thumb-block .pic-block .pic-wrapper .s4 {
    left: 1.3rem;
    top: 60px;
}
.thumb-block .pic-block .pic-slide {
    display: inline-block;
    float: left;
    text-align: center;
}
.thumb-block .pic-block img {
    width: 4rem;
}
.thumb-block .pic-block p {
    font-size: .29rem;
    line-height: .3rem;
    margin-top: .48rem;
}
@keyframes rotate {
  from {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  to {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);

  }
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes twinkle {
  from {
      opacity:1;
  }
  to {
      opacity:0.3;
  }
}
@-webkit-keyframes twinkle {
  from {
      opacity:1;
  }
  to {
      opacity:0.3;
  }
}
@keyframes drop {
  from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity:1;
  }
  to {
      -webkit-transform: translateY(1400px);
      transform: translateY(1400px);
      opacity:0;
  }
}
@-webkit-keyframes drop {
  from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity:1;
  }
  to {
      -webkit-transform: translateY(1400px);
      transform: translateY(1400px);
      opacity:0;
  }
}
@-moz-keyframes drop {
  from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity:1;
  }
  to {
      -webkit-transform: translateY(1400px);
      transform: translateY(1400px);
      opacity:0;
  }
}
@-o-keyframes drop {
  from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity:1;
  }
  to {
      -webkit-transform: translateY(1400px);
      transform: translateY(1400px);
      opacity:0;
  }
}
